<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("partials/header") %>

    <% if(content) { %>
      <%- include(content) %>
    <% } else { %>
      <p>Nothing to display</p>
    <% } %>

    <%- include("partials/footer") %>

    <script src="/runtime.js" type="module"></script>
    <script src="/polyfills.js" type="module"></script>
    <script src="/styles.js" type="module"></script>
    <script src="/vendor.js" type="module"></script>
    <script src="/main.js" type="module"></script>
  </body>
</html>
